<form [formGroup]="userForm">

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Adresse email" formControlName="email">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom ou prénom" formControlName="name">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="Mot de passe" type="password" formControlName="password">
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Créer mon compte</button>
</form>
