<mat-toolbar color="primary">
  <span><a routerLink="/">ng-tgtg</a></span>
  <span class="navbar-spacer"></span>
  <span><a class="mat-h4" routerLink="register">Créer un compte</a></span>
  <button routerLink="/help"
    mat-icon-button class="help-icon" aria-label="Aide en ligne">
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>
